.form__name {
    margin:54px auto 0;
    width: 358px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

@media (max-width:520px) {
    .form__name {
    margin: 75px auto 0;
 width: 238px;
    }
}