.element__like {
    margin: auto 15px auto auto;
    color:black;
    height:19px;
    width:23px;
    border: 0;
    background-color: transparent;
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-size: cover;
}

.element__like:hover {
    opacity: 0.5;
}