.profile__edit-button {
    width: 24px;
    height: 24px;
    margin-top: 15px;
    background-position: center;
    background-color: black;
    border: solid 1px white;
    color:white;
    font-size:15px;
    background-image: url(../../../images/Vector.svg);
    background-size: 80%;
}

.profile__edit-button:hover {
    opacity: 0.6;
}