.form {
    width:430px;
    height:330px;
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media (max-width:520px) {
    .form {
        width: 282px;
        height:322px;
    }
}

