.header {
    background-color: black;
    width:calc(100% - 400px);
    max-width: 880px;
    min-height:74px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin:45px auto 0;
}

@media (max-width:1024px) {
    .header {
        width: 100%;
    }
}