.form__input {
    margin:54px auto 0;
    width: calc(100% - 72px);
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

@media (max-width:520px) {
    .form__name {
    margin: 75px auto 0;
    max-width: 238px;
    }
}