.form__input {
    width: calc(100% - 72px);
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input:first-of-type {
    margin: 54px auto 0;
}

.form__input:last-of-type {
    margin: 10px auto 0;
}

@media (max-width: 540px) {
    .form__input {
        width: calc(100% - 44px);
    }

    .form__input:first-of-type {
        margin: 75px auto 0;
    }
}