.popup__button-close {
    height: 32px;
    width: 32px;
    background-image: url(../../../images/close-icon.svg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0 -32px 5px auto;
}


@media (max-width: 540px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        margin: 0 0 16px auto;
    }
}