.profile__avatar {
    min-width:120px;
    height:120px;
    border-radius: 50%;
    margin-right:30px;
    object-fit: cover;
}

@media (max-width:830px) {
    .profile__avatar{
        margin:42px auto 0;
    }
}