.profile__info {
    color:white;
    display: grid;
    min-width:340px;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    margin: auto auto auto 30px;
    column-gap: 18px;
    row-gap:16px;
    align-items: center;
}

@media (max-width: 1080px) {
    .profile__info {
        margin: 26px auto 0;
    }
}

@media (max-width:450px) {
    .profile__info {
        min-width: 282px
    }
}