.form__close-button {
    font-weight: 400;
    font-size:70px;
    margin:auto -45px -15px auto;
    color:white;
    transform: rotate(45deg);
    border: 0;
    background-color: transparent;
}

.form__close-button:hover {
    opacity:0.6;
    cursor: pointer;
}

@media (max-width:520px) {
    .form__close-button {
        right:0;
        font-size:40px;
        top: -40px;
    }
}