.place__button-like {
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-size: cover;
    min-width: 22px;
    height: 19px;
    border: none;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}

@media (max-width:500px) {
    .place__button-like{
        min-width:15px;
        min-height:14px;
    }
}